## For Loops

In [4]:
English_counties = [
    'Bedfordshire',
    'Berkshire',
    'Bristol',
    'Buckinghamshire',
    'Cambridgeshire',
    'Cheshire',
    'City of London',
    'Cornwall',
    'Cumbria',
    'Derbyshire',
    'Devon',
    'Dorset',
    'County Durham',
    'East Riding of Yorkshire',
    'East Sussex',
    'Essex',
    'Gloucestershire',
    'Greater London',
    'Greater Manchester',
    'Hampshire',
    'Herefordshire',
    'Hertfordshire',
    'Isle of Wight',
    'Kent',
    'Lancashire',
    'Leicestershire',
    'Lincolnshire',
    'Merseyside',
    'Norfolk',
    'North Yorkshire',
    'Northamptonshire',
    'Northumberland',
    'Nottinghamshire',
    'Oxfordshire',
    'Rutland',
    'Shropshire',
    'Somerset',
    'South Yorkshire',
    'Staffordshire',
    'Suffolk',
    'Surrey',
    'Tyne and Wear',
    'Warwickshire',
    'West Midlands',
    'West Sussex',
    'West Yorkshire',
    'Wiltshire',
    'Worcestershire'
]

In [5]:
for county in English_counties:
    print(county)

Bedfordshire
Berkshire
Bristol
Buckinghamshire
Cambridgeshire
Cheshire
City of London
Cornwall
Cumbria
Derbyshire
Devon
Dorset
County Durham
East Riding of Yorkshire
East Sussex
Essex
Gloucestershire
Greater London
Greater Manchester
Hampshire
Herefordshire
Hertfordshire
Isle of Wight
Kent
Lancashire
Leicestershire
Lincolnshire
Merseyside
Norfolk
North Yorkshire
Northamptonshire
Northumberland
Nottinghamshire
Oxfordshire
Rutland
Shropshire
Somerset
South Yorkshire
Staffordshire
Suffolk
Surrey
Tyne and Wear
Warwickshire
West Midlands
West Sussex
West Yorkshire
Wiltshire
Worcestershire

In [6]:
integer = [1,2,3,4,5]

In [13]:
for numbers in integer :
    print (numbers)

1
2
3
4
5

## Count Odd / Even using for loop

In [25]:
numbers = [1,2,3,4,5,6,7,8,9]

In [31]:
count_even = 0
count_odd = 0

for x in numbers:
    if x%2==0:
        count_even += 1
    else:
        count_odd += 1

print (f'the number of even numbers is: {count_even}')
print (f'the number of odd numbers is: {count_odd}')

the number of even numbers is: 4
the number of odd numbers is: 5

## For loop for selecting even numbers

In [ ]:
integers = [2,5,5,6]
for number in integers:
    if (number%2 == 0):
        print (number)

## Factorial

In [ ]:
number = 4
fac = 1 

if (number == 0):
    print (1)
else:
    while number >= 1:
        fac = fac * number
        number -= 1
print (fac)

## While loop with same functionality of for loop

In [ ]:
furniture = ['Desk','Chair', 'Table', 'Lamp', 'Couch']
for item in furniture:
    print (f'You will not be able to find a {item.upper()}  cheaper than our Items at the furniture store!')

In [ ]:
i = 0
while i < len (furniture):
    print (f'You will not be able to find a {furniture[i].upper()}  cheaper than our Items at the furniture store!')
    i +=1

## For loop with same functionality as while loop

In [ ]:
IntegerList = [1,2,3,4,5,6]
i=0
miltiplier_variable = 1

while i < len (IntegerList):
    miltiplier_variable = miltiplier_variable * IntegerList [i]
    i+=1
print (f'the product of alll the items in the list is {miltiplier_variable}')

In [ ]:
miltiplier_variable =1
for i in IntegerList:
    miltiplier_variable = miltiplier_variable * i
    
print (f'the product of alll the items in the list is {miltiplier_variable}')

## Bridge Interview Question with conditional statements

In [ ]:
def build_bridge (small, large, goal):
    if (large * 5) + small >= goal:
        if small >= goal:
            return True
        elif large *5 >= goal - small and small >= goal%5:
            return True
        else:
            return False
    else:
        return False
print (build_bridge(3,1,6))
print (build_bridge(53,1,58))
print (build_bridge(0,10,45))
print (build_bridge(7,5,65))

## Swap 2 variables - Interview Question

In [ ]:
x = 5
y = 10

temp = x
x=y
y = temp

print (x)

In [ ]:
x = 5
y = 10
x,y = y,x
print (x)

## Generate Random Numbers - Interview Questions

In [ ]:
import random
num = random.random()
print(num)

In [ ]:
num = random.uniform(1,100)
print(num)

In [ ]:
#Integers
num = random.randint(1,100)
print(num)

In [ ]:
## Even Numbers
num = random.randrange (0,100,2)
print(num)

In [ ]:
# random list
numbers = random.sample(range(0,100),3)
print(numbers)

## Fibonacci Sequence interview question

In [1]:
def print_fibonacci (num):
    a, b = 0,1
    if num < 1:
        print ('null')
    elif num == 1:
        print (a)
    elif num ==2:
        print(a)
        print (b)
    elif num >2:
        print (a)
        print (b)
        for i in range (num-2):
            c = a+ b 
            a, b = b,c
            print (c)

print_fibonacci(int(input('Enter a number: ')))

Enter a number:  22

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946